<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposits</title>
</head>
<body>
    <ul>
        {% for deposit in object_list %}
        <li>
            <a href="{% url 'deposit-detail' pk=deposit.pk %}">
                Deposit: <strong>{{ object.deposit }}</strong> <br>
                Term: {{ object.term }} <br>
                Rate: {{ object.rate }} <br>
                Interest: {{ object.interest }} <br>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>